<!DOCTYPE html>
<html>
  <head>
    <title>AR-Sosiski</title>
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
  </head>
  <body>
    
    <a-scene>
      <a-assets>
        <img id="bag" src="bag.png">
      </a-assets>
      <a-entity camera look-controls>
        <a-plane position="-1.4 0.5 -4.11" rotation="0 0 0" width="2.22" height="3.22" color="#000000">
        </a-plane>
        <a-plane position="-1.4 0.5 -4.005" rotation="0 0 0" width="2.05" height="3.05" color="#000000">
        </a-plane>
        <a-plane position="-1.4 0.5 -4.01" rotation="0 0 0" width="2.2" height="3.2" color="#f4f400">
        </a-plane>
         <a-plane position="-1.4 0.5 -4" rotation="0 0 0" width="2" height="3" color="#f49242">
               <a-text value="Activity: Maintain" color="#111111" position="0 1.2 0" align="center"  wrap-count="60"></a-text>
               <a-text value="----------------------------------------" color="#111111" position="0 1 0" align="center"  wrap-count="60"></a-text> 
               <a-text value="Task: 1" color="#111111" position="0 0.8 0" align="center"  wrap-count="60"></a-text>
               <a-text value="----------------------------------------" color="#111111" position="0 0.6 0" align="center"  wrap-count="60"></a-text>
               <a-text value="Description: \nGet the bag of \nmig21-1942 tools." color="#111111" position="0 0.2 0" align="center"  wrap-count="60"></a-text>
               <a-image src="#bag" position="0 -1 0" ></a-image>
         </a-plane>
        
 
   
        <a-plane position="-1.4 5 -4.11" rotation="0 0 0" width="2.22" height="3.22" color="#000000" animation="property: position; to: -1.4 0.5 -3.993; dur: 1500; easing: linear; delay: 15000">
        </a-plane>
        <a-plane position="-1.4 5 -4.005" rotation="0 0 0" width="2.05" height="3.05" color="#000000" animation="property: position; to: -1.4 0.5 -3992; dur: 1500; easing: linear; delay: 15000">
        </a-plane>
        <a-plane position="-1.4 5 -4.01" rotation="0 0 0" width="2.2" height="3.2" color="#f4f400" animation="property: position; to: -1.4 0.5 -3.991; dur: 1500; easing: linear; delay: 15000">
        </a-plane>
         <a-plane position="-1.4 5 -4" rotation="0 0 0" width="2" height="3" color="#f49242" animation="property: position; to: -1.4 0.5 -3.99; dur: 1500; easing: linear; delay: 15000">
               <a-text value="Activity: Maintain" color="#111111" position="0 1.2 0" align="center"  wrap-count="60"></a-text>
               <a-text value="----------------------------------------" color="#111111" position="0 1 0" align="center"  wrap-count="60"></a-text> 
               <a-text value="Task: 2" color="#111111" position="0 0.8 0" align="center"  wrap-count="60"></a-text>
               <a-text value="----------------------------------------" color="#111111" position="0 0.6 0" align="center"  wrap-count="60"></a-text>
               <a-text value="Description: \nGet to the plane." color="#111111" position="0 0.1 0" align="center"  wrap-count="60"></a-text>
               <a-text value="167m" color="#111111" position="0 -0.3 0" align="center"  wrap-count="60" animation="property: value; to: 0m; dur: 3000; easing: linear; delay: 30000"></a-text>
               <a-image src="navig.png" position="0 -1 0" animation="property: rotation; to: 0 0 167; dur: 1500; easing: linear; delay: 20000"></a-image>
               
         </a-plane>
         
         
         <a-plane position="-1.4 5 -4.11" rotation="0 0 0" width="2.22" height="3.22" color="#000000" animation="property: position; to: -1.4 0.5 -3.983; dur: 1500; easing: linear; delay: 33000">
        </a-plane>
        <a-plane position="-1.4 5 -4.005" rotation="0 0 0" width="2.05" height="3.05" color="#000000" animation="property: position; to: -1.4 0.5 -3982; dur: 1500; easing: linear; delay: 33000">
        </a-plane>
        <a-plane position="-1.4 5 -4.01" rotation="0 0 0" width="2.2" height="3.2" color="#f4f400" animation="property: position; to: -1.4 0.5 -3.981; dur: 1500; easing: linear; delay: 33000">
        </a-plane>
         <a-plane position="-1.4 5 -4" rotation="0 0 0" width="2" height="3" color="#f49242" animation="property: position; to: -1.4 0.5 -3.98; dur: 1500; easing: linear; delay: 33000">
               <a-text value="Activity: Maintain" color="#111111" position="0 1.2 0" align="center"  wrap-count="60"></a-text>
               <a-text value="----------------------------------------" color="#111111" position="0 1 0" align="center"  wrap-count="60"></a-text> 
               <a-text value="Task: 3" color="#111111" position="0 0.8 0" align="center"  wrap-count="60"></a-text>
               <a-text value="----------------------------------------" color="#111111" position="0 0.6 0" align="center"  wrap-count="60"></a-text>
               <a-text value="Description: \nOpen the engine.\nCheck this part." color="#111111" position="0 0.1 0" align="center"  wrap-count="60"></a-text>
               <a-image src="engin.png" position="0 -0.8 0" animation="property: width; to: -1.4 0.5 -3.981; dur: 1500; easing: linear; delay: 33000" ></a-image>
         </a-plane>
                  
                  
        <a-plane position="1.4 5 -3.983" rotation="0 0 0" width="2.22" height="1.22" color="#000000" animation="property: position; to: 1.4 0.5 -3.983; dur: 1500; easing: linear; delay: 40000">
        </a-plane>
        <a-plane position="1.4 5 -3,981" rotation="0 0 0" width="2.05" height="1.05" color="#000000" animation="property: position; to: 1.4 0.5 -3.98; dur: 1500; easing: linear; delay: 40000">  
        </a-plane>
        <a-plane position="1.4 5 -3.98" rotation="0 0 0" width="2.2" height="1.2" color="red" animation="property: position; to: 1.4 0.5 -3.981; dur: 1500; easing: linear; delay: 40000">   
        </a-plane>
         <a-plane position="1.4 5 -3.979" rotation="0 0 0" width="2" height="1" color="red" animation="property: position; to: 1.4 0.5 -3.979; dur: 1500; easing: linear; delay: 40000">  
               <a-text value="Incoming problem!" color="#000000" position="-0.4 1.2 0" align="center"  wrap-count="60"></a-text>
               <a-text value="Potentional motor \nstruggle.." color="#111111" position="-0.3 0.1 0" align="center"  wrap-count="60"></a-text>
               <a-image src="explosion.png" position="0.7 0 0" ></a-image>
         </a-plane>
         
         <a-plane position="1.4 5 -3.983" rotation="0 0 0" width="2.22" height="1.22" color="#000000" animation="property: position; to: 1.4 0.5 -3.973; dur: 1500; easing: linear; delay: 50000">
        </a-plane>
        <a-plane position="1.4 5 -3,981" rotation="0 0 0" width="2.05" height="1.05" color="#000000" animation="property: position; to: 1.4 0.5 -3.97; dur: 1500; easing: linear; delay: 50000">
        </a-plane>
        <a-plane position="1.4 5 -3.98" rotation="0 0 0" width="2.2" height="1.2" color="lightgreen" animation="property: position; to: 1.4 0.5 -3.971; dur: 1500; easing: linear; delay: 50000">
        </a-plane>
         <a-plane position="1.4 5 -3.979" rotation="0 0 0" width="2" height="1" color="lightgreen" animation="property: position; to: 1.4 0.5 -3.969; dur: 1500; easing: linear; delay: 50000">
               <a-text value="Problem solved and \nstored in database!" color="#000000" position="-0.4 1.2 0" align="center"  wrap-count="60"></a-text>
               <a-text value="Finding new Task" color="#111111" position="-0.3 0.1 0" align="center"  wrap-count="60"></a-text>
               <a-image src="magnifier.png" position="0.7 0 0" ></a-image>
         </a-plane>
        
   </a-entity>
       
       
       
 
      <a-sky color="#000000"></a-sky>
    </a-scene>
  </body>
</html>
